.header {
  font-size: 25px;
  font-weight: bold;

  width: 100%;
  height: 40px;
  text-align: center;
  color: white;
}
.App {
  background-color:  #151319;
  width: 100%;
  height: 100%;
}
* {
  margin: 0px;
  padding: 0px;
}
.header2 {
  font-size: 25px;
  font-weight: bold;

  width: 100%;
  height: 40px;

  color: white;
  margin-top: 20px;
}
.footer {
  margin-top: 10px;
  background-color: rgb(16, 25, 31);
  text-align: end;
}
.footerp {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 5px;
}
.footername {
  font-size: 15px;
  font-style: italic;
  color: aliceblue;
  padding: 5px;
}
.btnx{
  margin-left:40% ;
}
.uaresafe:hover{
  background-color:rgb(235, 252, 0) !important;
}
.upsafe:hover{
  background-color:rgba(252, 8, 0, 0.849) !important;
}
tr:hover{
  background-color:rgb(0,0,0,0.5) !important;
}
th:hover{
background-color:rgb(57, 255, 20,0.5) !important;
}
